name: Frontend Tests

on:
  push:
  pull_request:

jobs:
  test:
    name: Frontend Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install
      - run: bash scripts/test_frontend.sh
